
*{
    margin: 0;
    padding: 0;
}

.header {
display: flex;
background: #1f2937;
justify-content: space-between;
height: 100px;
}

.header-logo{
    color: aliceblue;
}

.header-list{
    dissplay: flex;
    justify-content: space-between;
}

.section-one{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    height: 100px;
}

.one-right{
    height: 50px;
}

.section-three{
    background-color: #e5e7eb;
    height: 100px;
}